@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap');
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        
}

.container_usuario{
        font-family: 'Montserrat Alternates', sans-serif;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding-top: 60px;
        align-items: top;
        justify-content: space-around;
        background-color: rgb(235, 235, 235);
        min-height: 91.7vh;
}
.container_usuario img{
        width: 43%;
        height: 43%;
}
input[type=date]{
        display: flex;
        width: 220px;
        background-color: azure; 
}
h2{
        color: black;
}
form input{
        font-family: 'Poppins', sans-serif;
        padding: 15px 50px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        font-size: 19px;
        background-color: azure; 
}
.row_usuario{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content:flex-start;
}
.tabla_usuario{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content:flex-start;
        padding-bottom: 20px;
}
tr,th{
        border: 1px solid gray;
        padding: 15px;
}

tbody{
        background-color: azure; 
}
thead{
        background-color: azure;
        background: rgb(83, 177, 214); 
        margin: 20px;
}
.editar{
        background-color: rgb(153, 144, 20);
        color: white;
        margin: 10px;
        padding:8px;
        border-radius: 15px;
}
.eliminar{
        background-color: rgb(133, 2, 2);
        color: white;
        margin: 10px;
        padding:8px;
        border-radius: 15px;
}
button{
        font-family: 'Montserrat Alternates', sans-serif;
        padding: 14px 29px;
        border-radius: 10px;
        background-color: transparent;
        top: 45px;
        left: 45px;
        color: white;
        font-weight: bold;
        letter-spacing: 2px;    
        background:linear-gradient(to top, #0D0D0D,#595a5a,#0D0D0D);
        cursor: pointer;
}
.volver{
        padding-left: 20px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        background-color: rgb(88, 88, 88);
}
.volver a{
        text-decoration: none;
        color: white;
}

.ganancia{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.ganancia input{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        
}
table ,th,td,tr{
        border: 1px solid black;
        margin: 0;
}
.ganancias{
        font-family: 'Montserrat Alternates', sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: top;
        justify-content: flex-start;
        background-color: rgb(235, 235, 235);
        min-height: 100vh;
}